#phone-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
   
}
#spinner{
    display: none;
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    
    top: 0;
    left: 0;
    bottom: 2px;
    right: 0;
    width: 50px;
    height: 50px;
}
#result{
    display: none;
}
#result1{
    display: none;
}
    

